#!/bin/sh

# ensure homebrew is installed
if ! command -v brew &>/dev/null; then
  echo "Homebrew is not installed. Install it from https://brew.sh/"
  exit 1
fi

brew update

# homebrew formulae 
formulae=(
  fd
  fzf
  git
  luarocks
  netlify-cli
  httpie
  lazygit
  lsd
  node
  nvim
  pure
  prettier
  ripgrep 
  aws-sam-cli
  stylua
  tailwindcss-language-server
  typescript
  yarn
  zsh
  zsh-syntax-highlighting
  zsh-vi-mode
  zsh-autosuggestions
)

casks=(
  audacity
  brave-browser
  1password
  font-hack
  gimp
  google-chrome
  hammerspoon
  inkscape
  http-server
  karabiner-elements
  kitty
  nordvpn
  transmission
  vlc
  whatsapp
  zight
)

{{ if eq .chezmoi.hostname "Thomass-Mac-mini-2" -}}
casks+=(
  inkscape
  transmission
)
{{ end -}}

# install formulae
for formula in "${formulae[@]}"; do
  echo "Installing formula: $formula"
  brew install "$formula"
done

# install casks
for cask in "${casks[@]}"; do
  echo "Installing cask: $cask"
  brew install --cask "$cask"
done

yarn set version 4.18.0

 
