#!/bin/sh

# ensure homebrew is installed
if ! command -v brew &>/dev/null; then
  echo "Homebrew is not installed. Install it from https://brew.sh/"
  exit 1
fi

brew update

# homebrew formulae (CLI tools, libraries, etc.)
formulae=(
  entr
  fd
  fzf
  git
  lazygit
  lsd
  node
  nvim
  pure
  prettier
  ripgrep # used by nvim-telescope
  stylua
  tree
  typescript
  yarn
  zsh
  zsh-syntax-highlighting
  zsh-vi-mode
  zsh-autosuggestions
)

# Add host-specific packages
{{ if eq .chezmoi.hostname "Thomass-Mac-mini-2" -}}
formulae+=(
  go
  httpie 
  insomnia
  netlify-cli
  pipx
  jless 
)
{{ end -}}

# homebrew casks (GUI apps, fonts, etc.)
casks=(
  brave-browser
  1password
  font-hack
  google-chrome
  hammerspoon
  karabiner-elements
  kitty
  whatsapp
  zight
)

{{ if eq .chezmoi.hostname "Thomass-Mac-mini-2" -}}
casks+=(
  inkscape
  transmission
)
{{ end -}}

# install formulae
for formula in "${formulae[@]}"; do
  echo "Installing formula: $formula"
  brew install "$formula"
done

# install casks
for cask in "${casks[@]}"; do
  echo "Installing cask: $cask"
  brew install --cask "$cask"
done


 
